<!DOCTYPE html>
<html>
<head>
    <title>Localize</title>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link href="../static/dashboard.css" rel="stylesheet">
    <script src="../static/js/jquery-2.2.1.min.js"></script>
    <!-- <link href="../static/addStats.css" rel="stylesheet"> -->

</head>
<body>
	<style >
	body {
		background-image: url("../static/background.jpg");
	}
	</style>
<div style="margin-top: 100px">
	<ul id = "cardList" >
		<li >	
			<div class="card transition " style="margin:0px 100px 0px 100px">
				  <h2 class="transition">Dadar</h2>
				  <p>Dadar is a densely populated residential and shopping neighbourhood in Mumbai's central district and a prominent transit hub with local and national connectivity.</p>
				  <div class="cta-container transition"><a href="#" class="cta">View</a></div>
				  <div class="card_circle transition" id ="card1"></div>
				</div>
		</li>
		<li>
			<div class="card transition" style="margin-right: 100px;">
				  <h2 class="transition">Colaba</h2>
				  <p>Located on the tip of the tiny peninsula that makes up Mumbai, Colaba is a dynamic area of the city, filled with bustling markets, 	art galleries, and historic monuments. </p>
				  <div class="cta-container transition"><a href="#" class="cta">View</a></div>
				  <div class="card_circle transition" id ="card2"></div>
				</div>
		</li>
		<li>
			<div class="card transition" style="margin-right: 100px;">
				  <h2 class="transition">Byculla</h2>
				  <p>
					Byculla was part of the original seven islands that constituted the Presidency of Bombay. It was also part of the first railway line .</p>
				  <div class="cta-container transition"><a href="#" class="cta">View</a></div>
				  <div class="card_circle transition" id ="card3"></div>
				</div>
		</li>		
	</ul>
</div>	
</body>
</html>