<!DOCTYPE html>
<html lang="en">

<head>
    <title>safe Locality</title>
    {{"decoupled-map"|googlemap_js(data[2], data[3], markers=[(data[2], data[3])])}}
    {{mymap.js}}
    <script type="text/javascript" src="http://mdbootstrap.com/mdbcdn/mdb.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="../static/demo.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>

</head>

<body>
    <style >
            body {
                /*background-image: url("http://www.planwallpaper.com/static/images/butterfly-wallpaper.jpeg");*/
                background-image: url("http://wallpoper.com/images/00/27/24/28/gaussian-blur_00272428.jpg");
                font-family: 'Raleway';
            }
    </style>

    <div class="container" >
        <div class="nav-wrapper">
            <nav>
                <ul class="nav nav-pills right">
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Localize</h3>
        </div>

        <h2> Template filter decoupled with single marker </h2>
        {{"decoupled-map"|googlemap_html(data[2], data[3])}}

         

        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>

    </div>
</body>

</html>
