<!DOCTYPE html>
<html lang="en">

<head>
    <title>safe Locality</title>
    {{"decoupled-map"|googlemap_js(data[2], data[3], markers=[(data[2], data[3])])}}
    {{mymap.js}}
    <script type="text/javascript" src="http://mdbootstrap.com/mdbcdn/mdb.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="../static/demo.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>

</head>

<body >
    <style >
            body {
                /*background-image: url("http://www.planwallpaper.com/static/images/butterfly-wallpaper.jpeg");*/
                background-image: url("http://wallpoper.com/images/00/27/24/28/gaussian-blur_00272428.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;
                font-family: 'Raleway';
            }
    </style>

    <div class="container">
        <div class="nav-wrapper">
            <nav>
                <ul class="nav nav-pills left">
                    <li role="presentation" ><a href ="/" style="float: left;">Home</a></li>
                    <li role = "presentation"><a href = "/dashboard" style="float: left">Dashboard</a></li>
                </ul>    
                <ul class="nav nav-pills right">
                    <li role = "presentation"><a href="/logout" style ="float: right">Logout</a></li>
                </ul>    
            </nav>
            <h3 class="text-muted">Localize</h3>
        </div>

        <h2 style="text-align:center;"> Region near and around {{ name }} </h2>
        <div style="margin-left:200px; margin-bottom:50px;" >{{"decoupled-map"|googlemap_html(data[2], data[3])}}
        </div>
        </div>

        <div style="font-size:200%; text-align:center; margin-bottom:30px;">InfoGraphic</div>
        <div style="margin-left:350px; margin-bottom: 50px;">
          {{graphs[0].render()|safe}}
        </div>

        <div style="margin-left:50px; margin-bottom: 50px;">
          {{graphs[1].render()|safe}}
        </div>
        <p style="font-size:200%; text-align:center; margin-left:50px;">Resident Reviews:</p>
        <div id = "review-block" style="padding-left = 20px; margin-left = 50px;">
          {% for user in use_fec %}
            <h6 style=" font-size:150%; margin-left:50px; text-align:center;">@{{ user[0] }} says: {{ user[1] }}</h6>
          {% endfor %}
        </div>


        <footer class="footer">
            <p>&copy; Optio Company 2016</p>
        </footer>


</body>

</html>
