<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Optio</title>
        <meta name="description" content="Web Development Services for Small Companies">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href="../static/home.css" rel="stylesheet">
        <link href="favicon.ico" rel="icon">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
        <!-- EDiting BELOW  -->
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <!-- MDB core CSS -->
        <link href="http://mdbootstrap.com/mdbcdn/mdb.min.css" rel="stylesheet">   
                                                      
        <!-- JQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="http://mdbootstrap.com/mdbcdn/mdb.min.js"></script>
        <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
          
    </head>

    <body>
        <style >
            body {
                background-image: url("../static/background.jpg");
                font-family: 'Raleway';
            }
        </style>
        <div class="site">
            <div class="header-outer">
                <header role="banner" class="site-header group">
                    <h1 class="logo">Optio</h1>
                    <div class="tagline">
                    </div>
                {% if session %}
                <button id = "logout-button"class="btn-success btn-rounded waves-effect" ><a href="/logout" style="color:white">Logout</a></button>
                </li>
                {% endif %}
                </header>
            </div>
            
            <!-- NAV BAR STARTS -->
            <nav class="navbar default-color">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand waves-effect waves-light" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li ><a href="\showSignin" class="waves-effect waves-light">Sign in<span class="sr-only">(current)</span></a></li>
                        <li><a href="\showSignUp" class="waves-effect waves-light">Sign Up</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group waves-effect waves-light">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
            </nav>   
             
             <!-- NAV BAR ENDS -->

            <section role="main" class="site-content">
                <section class="features">
                    <div class="slideshow">
                        <div class="slide">
                            <img src="http://www.wallpaperhi.com/thumbnails/detail/20120714/cityscapes%20urban%20skyscrapers%20shanghai%20city%20skyline%201680x1050%20wallpaper_www.wallpaperhi.com_31.jpg" alt="Slide 1"/>
                            <div class="slide-text">
                                <h2>About Us</h2>
                            </div>
                        </div>
                      <!--   <div class="slideshow-pager">
                            <ul>
                                <li>
                                    <a class="hide-text active" href="#">Change to slide 1</a>
                                </li>
                                <li>
                                    <a class="hide-text" href="#">Change to slide 2</a>
                                </li>
                                <li>
                                    <a class="hide-text" href="#">Change to slide 3</a>
                                </li>
                                <li>
                                    <a class="hide-text" href="#">Change to slide 4</a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="welcome-text">
                        <p><strong>Aliquam odio mauris, tempus eu neque commodo, rhoncus suscipit lectus.<br>Aenean suscipit, dolor eu maximus rhoncus, mi enim fringilla nisl, a mollis neque dui a ante.</strong></p>
                        <p>Suspendisse lectus lacus, viverra a ante sodales, ornare consequat nisi. Phasellus ullamcorper ex vitae ex rhoncus blandit. Vivamus pretium convallis purus vitae elementum.<br> Proin fermentum justo nisi, ac lacinia nisi cursus vel. Nunc ut mollis nibh. Sed ac nulla ac libero convallis scelerisque.</p>
                    </div>
                </section> 
                <section class="latest-posts">
                    <h2>Latest Posts</h2>
                    <ul class="post-list group">
                        <li class="group">
                            <a href="/dashboard">
                                <div class="post-text">
                                    <h3>Explore</h3>
                                </div>
                                <div class="post-image">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/138788/img_post1.jpg" alt="Post 1"/>
                                </div>
                            </a>
                        </li>
                        <li class="group">
                            <a href="#">
                                <div class="post-text">
                                    <h3>Fusce placerat, Turpis in Auctor</h3>
                                    <time>Sep 2nd 2014</time>
                                    <p>Sed ligula sapien, suscipit sed molestie fringilla, varius sit amet justo.</p>
                                </div>
                                <div class="post-image">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/138788/img_post2.jpg" alt="Post 2"/>
                                </div>
                            </a>
                        </li>
                    </ul>
                </section>
               
                <section class="get-in-touch group">
                    <h2 style="color:#ffffff;">Get in Touch</h2>
                    <div class="get-in-touch-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in rhoncus sapien. Nunc aliquam, diam sit amet faucibus maximus, enim magna consectetur tortor, vel fringilla diam ipsum eget ipsum.</p>
                    </div>
                    <div class="get-in-touch-form">
                        <form action="#">
                            <fieldset class="group">
                                <div class="field group name-field input-field">
                                    <label class="hide-text" for="name">Name</label>
                                    <input type="text" id="name" name="name" placeholder="Your Name">
                                </div>
                                <div class="field group email-field input-field">
                                    <label class="hide-text" for="email">E-mail</label>
                                    <input type="text" id="email" name="email" placeholder="example@mail.com">
                                </div>
                            </fieldset>
                            <div class="field textarea-field">
                                <label class="hide-vis" for="message">Message</label>
                                <textarea name="message" id="message" placeholder="Your Message"></textarea>
                            </div>
                            <button type="submit" name="submit" class="submit-button">Send Message</button>
                        </form>
                    </div>
                </section>
            </section>
                
            <div class="footer-outer">
                <footer role="content-info" class="site-footer">
                    <div class="group">
                        <div class="footer-about">
                            <h2>About Optio</h2>
                            <p>Vivamus bibendum dui quis viverra porta. Aenean molestie vestibulum lobortis. Aliquam a libero eu quam lobortis vehicula sit amet iaculis ipsum. Curabitur pulvinar gravida urna a facilisis. Mauris pellentesque augue et faucibus consectetur. Morbi feugiat quam eget mattis efficitur. Aenean ac feugiat arcu.</p>
                        </div>
                        <ul class="footer-social">
                            <li>
                                <a class="twitter hide-text" href="#">Twitter</a>
                            </li>
                            <li>
                                <a class="facebook hide-text" href="#">Facebook</a>
                            </li>
                            <li>
                                <a class="gplus hide-text" href="#">Google Plus</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="group">
                        <ul class="footer-navigation">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                            <li>
                                <a href="#">Legal</a>
                            </li>
                            <li>
                                <a href="#">Press</a>
                            </li>                
                        </ul>
                        <small class="footer-copyright">
                            2014 &copy; Optio.
                        </small>
                    </div>
                </footer>
            </div>
        </div>
    </body>

</html>