<!DOCTYPE html>
<html lang="en">

<head>
    <title>Localize</title>

<link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
        <!-- EDiting BELOW  -->
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <!-- MDB core CSS -->
        <link href="http://mdbootstrap.com/mdbcdn/mdb.min.css" rel="stylesheet">   
                                                      
        <!-- JQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="http://mdbootstrap.com/mdbcdn/mdb.min.js"></script>
        <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
>


</head>

<body>

    <style >
    body {
        background-image: url("../static/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Raleway';
    }
    </style>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/signin">User Sign In</a>
                    </li>
                    <li role="presentation"><a href="/signUp">User Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="">Optio</h3>
        </div>

        <div class="jumbotron">
            <h1>Your popular and authorative source for information about your city!</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>



        <footer class="footer" style="font-color: black">
            <p>&copy; Company 2016</p>
        </footer>

    </div>
</body>

</html>
