<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Localize</title>

<!-- 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-2.2.1.min.js"></script>
    <script src="../static/js/signup.js"></script> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="../static/js/jquery-1.11.2.js"></script>

  </head>

  <body>
  	<style >
            body {
                background-image: url("../static/background.jpg");
                font-family: 'Raleway';
            }
    </style>
    <div class="container">
      <div class="nav-wrapper">
        <nav>
          <ul class="nav nav-pills right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="/showSignin">User Sign In</a></li>
            <li role="presentation" class="active"><a href="#">User Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Localize</h3>
      </div>

      <div class="jumbotron">
        <h1>Sign Up!</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">First Name</label>
        <input type="text" name="inputFirstName" id="inputEmail" class="form-control" placeholder="First Name" required autofocus>
        <label for="inputEmail" class="sr-only">Last Name</label>
        <input type="text" name="inputLastName" id="inputEmail" class="form-control" placeholder="Last Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>
